<section class="cocktails-section" id="cocktails-section">
  <div class="container">
    <h2 class="cardlist-header">Loading Data...</h2>
    <div class="no-cocktails-wrapper visually-hidden">
      <svg class="no-cocktails-svg">
        <use href="./img/sprite.svg#cocktails"></use>
      </svg>
      <p class="no-cocktails-text">
        Sorry, we <span class="no-cocktails-text-part">didn’t find</span> any
        cocktail for you
      </p>
    </div>
    <ul class="cardlist"></ul>
    <div id="tui-pagination-container" class="tui-pagination pagination-main"></div>
    <!-- <div class="pagination-main" id="pagination-main"></div> -->
  </div>
</section>
