<footer class="footer">
  <div class="container footer-container">
    <a class="footer-logo" href="index.html"
      ><p class="footer-logo-text">Drinkify</p>
      <svg class="footer-logo-icon">
        <use href="./img/sprite.svg#glass"></use>
      </svg>
    </a>
    <div>
      <p class="social-descr">We in social</p>
      <ul class="social-media-list">
        <li class="social-media-item">
          <a
            href="https://www.facebook.com/goITclub/"
            class="social-list-link"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Facebook icon"
          >
            <svg class="social-list-icon">
              <use href="./img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-media-item">
          <a
            href="https://www.instagram.com/goitclub/"
            class="social-list-link"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Instagram icon"
            ><svg class="social-list-icon">
              <use href="./img/sprite.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-media-item">
          <a
            href="https://www.youtube.com/c/GoIT"
            class="social-list-link"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="YouTube icon"
            ><svg class="social-list-icon">
              <use href="./img/sprite.svg#you-tube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="container">
    <h2 class="footer-created-by-title">Created by</h2>
    <div class="slider-container">
      <div class="cr-by-wrapper">
        <!-- <div class="btn-container-cr-by" id="leftslider"> -->
        <svg class="cr-by-arrow cr-by-arrow-left" id="leftslider">
          <use href="./img/sprite.svg#arrow-left"></use>
        </svg>
        <!-- </div> -->
        <ul class="carousel-cr-by">
          <li class="cr-by-card">
            <div class="cr-by-image">
              <picture>
                <source
                  srcset="./img/created-by/kateryna.webp"
                  type="image/webp"
                />
                <source
                  srcset="./img/created-by/kateryna.jpg"
                  type="image/jpeg"
                />
                <img
                  loading="lazy"
                  src="./img/created-by/kateryna.jpg"
                  width="90"
                  draggable="false"
                  alt="Kateryna"
                  class="developer-img"
                />
              </picture>
            </div>
            <h2 class="dev-name">Kateryna Zhuvak</h2>
            <h3 class="dev-role">Team Lead</h3>
            <p class="dev-duities">Alphabet, Scroll Up</p>
          </li>
          <li class="cr-by-card">
            <div class="cr-by-image">
              <picture>
                <source
                  srcset="./img/created-by/valentyna.webp"
                  type="image/webp"
                />
                <source
                  srcset="./img/created-by/valentyna.jpg"
                  type="image/jpeg"
                />
                <img
                  loading="lazy"
                  src="./img/created-by/valentyna.jpg"
                  width="90"
                  draggable="false"
                  alt="Valentyna"
                  class="developer-img"
                />
              </picture>
            </div>
            <h2 class="dev-name">Valentyna Malko</h2>
            <h3 class="dev-role">Scrum Master</h3>
            <p class="dev-duities">Footer</p>
          </li>
          <li class="cr-by-card">
            <div class="cr-by-image">
              <picture>
                <source
                  srcset="./img/created-by/dmytro.webp"
                  type="image/webp"
                />
                <source
                  srcset="./img/created-by/dmytro.jpg"
                  type="image/jpeg"
                />
                <img
                  loading="lazy"
                  src="./img/created-by/dmytro.jpg"
                  width="90"
                  draggable="false"
                  alt="Dmytro"
                  class="developer-img"
                />
              </picture>
            </div>
            <h2 class="dev-name">Dmytro Semeniuk</h2>
            <h3 class="dev-role">Front end</h3>
            <p class="dev-duities">Pop-up "Cocktails"</p>
          </li>
          <li class="cr-by-card">
            <div class="cr-by-image">
              <picture>
                <source
                  srcset="./img/created-by/mariia.webp"
                  type="image/webp"
                />
                <source
                  srcset="./img/created-by/mariia.jpg"
                  type="image/jpeg"
                />
                <img
                  loading="lazy"
                  src="./img/created-by/mariia.jpg"
                  width="90"
                  draggable="false"
                  alt="Mariia"
                  class="developer-img"
                />
              </picture>
            </div>
            <h2 class="dev-name">Mariia Pelypyshyn</h2>
            <h3 class="dev-role">Front end</h3>
            <p class="dev-duities">Favorite cocktails</p>
          </li>
          <li class="cr-by-card">
            <div class="cr-by-image">
              <picture>
                <source
                  srcset="./img/created-by/oleksandr.webp"
                  type="image/webp"
                />
                <source
                  srcset="./img/created-by/oleksandr.jpg"
                  type="image/jpeg"
                />
                <img
                  loading="lazy"
                  src="./img/created-by/oleksandr.jpg"
                  width="90"
                  draggable="false"
                  alt="Oleksandr"
                  class="developer-img"
                />
              </picture>
            </div>
            <h2 class="dev-name">Oleksandr Horlov</h2>
            <h3 class="dev-role">Front end</h3>
            <p class="dev-duities">Hero</p>
          </li>
          <li class="cr-by-card">
            <div class="cr-by-image">
              <picture>
                <source
                  srcset="./img/created-by/yuliia.webp"
                  type="image/webp"
                />
                <source
                  srcset="./img/created-by/yuliia.jpg"
                  type="image/jpeg"
                />
                <img
                  loading="lazy"
                  src="./img/created-by/yuliia.jpg"
                  width="90"
                  draggable="false"
                  alt="Yuliia"
                  class="developer-img"
                />
              </picture>
            </div>
            <h2 class="dev-name">Yuliia Kulibaba</h2>
            <h3 class="dev-role">Front end</h3>
            <p class="dev-duities">Search</p>
          </li>
          <li class="cr-by-card">
            <div class="cr-by-image">
              <picture>
                <source
                  srcset="./img/created-by/andrii.webp"
                  type="image/webp"
                />
                <source
                  srcset="./img/created-by/andrii.jpg"
                  type="image/jpeg"
                />
                <img
                  src="./img/created-by/andrii.jpg"
                  width="90"
                  draggable="false"
                  alt="Andrii"
                  class="developer-img"
                />
              </picture>
            </div>
            <h2 class="dev-name">Andrii Skliar</h2>
            <h3 class="dev-role">Front end</h3>
            <p class="dev-duities">Header</p>
          </li>
          <li class="cr-by-card">
            <div class="cr-by-image">
              <picture>
                <source
                  srcset="./img/created-by/kamila.webp"
                  type="image/webp"
                />
                <source
                  srcset="./img/created-by/kamila.jpg"
                  type="image/jpeg"
                />
                <img
                  loading="lazy"
                  src="./img/created-by/kamila.jpg"
                  width="90"
                  draggable="false"
                  alt="Kamila"
                  class="developer-img"
                />
              </picture>
            </div>
            <h2 class="dev-name">Kamila Bohdanova</h2>
            <h3 class="dev-role">Front end</h3>
            <p class="dev-duities">Pop-up "Ingredients"</p>
          </li>
          <li class="cr-by-card">
            <div class="cr-by-image">
              <picture>
                <source
                  srcset="./img/created-by/nataliia.webp"
                  type="image/webp"
                />
                <source
                  srcset="./img/created-by/nataliia.jpg"
                  type="image/jpeg"
                />
                <img
                  loading="lazy"
                  src="./img/created-by/nataliia.jpg"
                  width="90"
                  draggable="false"
                  alt="Nataliia"
                  class="developer-img"
                />
              </picture>
            </div>
            <h2 class="dev-name">Nataliia Pashchenko</h2>
            <h3 class="dev-role">Front end</h3>
            <p class="dev-duities">Pagination</p>
          </li>
          <li class="cr-by-card">
            <div class="cr-by-image">
              <picture>
                <source
                  srcset="./img/created-by/nikita.webp"
                  type="image/webp"
                />
                <source
                  srcset="./img/created-by/nikita.jpg"
                  type="image/jpeg"
                />
                <img
                  loading="lazy"
                  src="./img/created-by/nikita.jpg"
                  width="90"
                  draggable="false"
                  alt="Nikita"
                  class="developer-img"
                />
              </picture>
            </div>
            <h2 class="dev-name">Nikita Kachan</h2>
            <h3 class="dev-role">Front end</h3>
            <p class="dev-duities">Favorite ingredients</p>
          </li>
          <li class="cr-by-card">
            <div class="cr-by-image">
              <picture>
                <source
                  srcset="./img/created-by/jaroslaw.webp"
                  type="image/webp"
                />
                <source
                  srcset="./img/created-by/jaroslaw.jpg"
                  type="image/jpeg"
                />
                <img
                  loading="lazy"
                  src="./img/created-by/jaroslaw.jpg"
                  width="90"
                  draggable="false"
                  alt="Jaroslaw"
                  class="developer-img"
                />
              </picture>
            </div>
            <h2 class="dev-name">Jaroslaw Ignatov</h2>
            <h3 class="dev-role">Front end</h3>
            <p class="dev-duities">Cocktails</p>
          </li>
        </ul>
        <!-- <div class="btn-container-cr-by" > -->
        <svg class="cr-by-arrow cr-by-arrow-right">
          <use href="./img/sprite.svg#arrow-right" id="rightslider"></use>
        </svg>
        <!-- </div> -->
      </div>
    </div>
  </div>
</footer>
