<div class="header-backdrop js-header-backdrop">
  <div class="header-menu-star-wrapper">
    <svg class="header-menu-star">
      <use href="./img/sprite.svg#icon-modal-star"></use>
    </svg>
    <div class="header-menu-container container">
      <a href="index.html" class="header-menu-logo"
        >Drinkify
        <svg class="header-menu-logo-icon">
          <use href="./img/sprite.svg#glass"></use>
        </svg>
      </a>
      <div class="header-menu-buttons-wrapper">
        <div class="header-menu-btn-wrapper">
          <button type="button" class="page-themetoggle themetoggle2">
            <svg class="sun-icon">
              <use href="./img/sprite.svg#sun-svg"></use>
            </svg>
            <span class="themetoggle-switch"></span>
            <svg class="moon-icon">
              <use href="./img/sprite.svg#moon-svg"></use>
            </svg>
          </button>
          <button
            type="button"
            class="page-themetoggle_reset themetoggle_reset2"
          ></button>
        </div>
        <button type="button" class="header-menu-close js-header-menu-close">
          <svg class="header-menu-close-icon">
            <use href="./img/sprite.svg#icon-close"></use>
          </svg>
        </button>
      </div>
      <div class="header-menu-nav-container">
        <ul class="header-menu-list">
          <li class="header-menu-item">
            <a class="header-menu-link" href="index.html">Home</a>
          </li>
          <li class="header-menu-item">
            <a class="header-menu-link js-header-menu-link">
              Favorite
              <svg
                class="header-menu-link-icon js-header-menu-link-icon"
                width="24"
                height="24"
              >
                <use href="./img/sprite.svg#nav-arrow"></use>
              </svg>
            </a>
          </li>
        </ul>
        <ul class="favorite-menu-list js-favorite-menu-list">
          <li class="favorite-menu-item">
            <a href="./favorite-cocktails.html" class="favorite-menu-link">
              Favorite cocktails
            </a>
          </li>
          <li class="favorite-menu-item">
            <a href="./favorite-ingredients.html" class="favorite-menu-link">
              Favorite ingredients
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="module" src="./js/header_backdrop.js"></script>
<script type="module" src="./js/header_burger.js"></script>
