<section class="container hero-title-img">
  <div class="hero-btn">
    <div class="hero-title-btn">
      <h1 class="title-hero">
        A party without <span class="title-hero-span">cocktails</span><br />
        is not like a party
      </h1>
      <p class="hero-text">
        From classic sips to exotic mixes, we're your key to becoming a cocktail
        wizard!
      </p>
    </div>

    <a href="#cocktails-section" class="btn-hero-scroll"> View Cocktails </a>
  </div>

  <div class="hero-img">
    <div class="title-img">
      <div class="container-img">
        <div class="rectangle"></div>
        <picture class="girl-img-hero">
          <source
            srcset="
              ./img/hero/girl-desktop.png    1x,
              ./img/hero/girl-desktop@2x.png 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./img/hero/girl-tablet.png    1x,
              ./img/hero/girl-tablet@2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./img/hero/girl-mobile.png    1x,
              ./img/hero/girl-mobile@2x.png 2x
            "
            media="(max-width:767px)"
          />

          <img
            src="./img/hero/girl-mobile.png"
            alt="girl with cocktail"
            loading="lazy"
          />
        </picture>

        <picture class="elements-img-hero">
          <source
            srcset="
              ./img/hero/elements-desktop.png    1x,
              ./img/hero/elements-desktop@2x.png 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./img/hero/elements-tablet.png    1x,
              ./img/hero/elements-tablet@2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./img/hero/elements-mobile.png    1x,
              ./img/hero/elements-mobile@2x.png 2x
            "
            media="(max-width:767px)"
          />

          <img
            src="./img/hero/elements-mobile.png"
            alt="girl with cocktail"
            loading="lazy"
          />
        </picture>

        <!-- Dark -->
        <div class="element-dark">
          <picture class="elements-img-hero-dark">
            <source
              srcset="
                ./img/hero/elements-desktop-dark.png    1x,
                ./img/hero/elements-desktop-dark@2x.png 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./img/hero/elements-tablet-dark.png    1x,
                ./img/hero/elements-tablet-dark@2x.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./img/hero/elements-mobile-dark.png    1x,
                ./img/hero/elements-mobile-dark@2x.png 2x
              "
              media="(max-width:767px)"
            />
            <img
              src="./img/hero/elements-mobile-dark.png"
              alt="girl with cocktail"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
    </div>
    <p class="hero-text img-text">Search your favorite cocktail by ABC</p>
  </div>
</section>

<section class="container">
  <h2 class="search-section visually-hidden">Search</h2>
  <load src="./keyboard.html" />
  <load src="./search.html" />
</section>
